@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
}

@layer base {
  h1 {
    font-size: 34px;
  }
}

@layer base {
  h2 {
    font-size: 24px;
  }
}


@layer base {
  :root {
    --radius: 0.5rem;
    --white: #ffffff;
    --black: #16171d;
    --primary: #A88DF9;
    --secondary: #CFBEFF;
    --hover:#7a60c8;
    --hover-light:#2A1D3C;
  }
}
