@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
}

@layer base {
  h1 {
    font-size: 34px;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --white: #ffffff;
    --black: #16171d;
    --primary: #A88DF9;
    --secondary: #ffebb3;
    --accent: #fff5db;
    --hover:#7a60c8;
    --dark-gold:B37200;
  }
}
